{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static "css/contest.css" %}" rel="stylesheet" type="text/css"/>
    <script src="{% static "games/webfontloader.js" %}"></script>
    <script src="{% static "games/phaser.min.js" %}"></script>

</head>
<body class="contest">
<header>
</header>
<div class="container contest">
    <div class="row">
        <div class="col-md-12">
            <div id="img_mid_banner" class="mid-banner"
                 style="background-image: url('{% if not mid_banner %}https://dummyimage.com/{{ mid_banner_width }}x{{ mid_banner_height }}{% else %}{{ mid_banner }}{% endif %}');
                         height: {{ mid_banner_height }}px;">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Welcome to the contest!</h2>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="col-md-12">
                <p>
                    Your best score: {{ best_score|floatformat|default:0 }}</br>
                </p>
            </div>
        </div>
    </div>
{% block game_content %}
    <div class="row">
        <div class="col-md-12">
            <div id="game"></div>
            <script>
                var gameData = {{ game_data|safe }};
                gameData.csrfToken = "{{ csrf_token }}";
                var splash_text = "Well done!";
                var round_text = "Turns";
                var time_text = "Time";
            </script>
            <script src="{% static "games/memory.js" %}"></script>
        </div>
    </div>{% endblock %}

    <div class="row">
        <div class="col-md-12">
            <h2>This is how you play!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
      <p>
            Find pairs as fast as possible, it is only possible to have two cards open at the same time.
      </p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="img_top_banner" class="top-banner"
                 style="background-image: url('{% if not top_banner %}https://dummyimage.com/{{ top_banner_width }}x{{ top_banner_height }}{% else %}{{ top_banner }}{% endif %}');
                         height: {{ top_banner_height }}px; /*margin-left: 9px;*/">
            </div>
        </div> <!-- end div 6 -->
    </div>
    <footer>
        <p>© 2020 Powered by Klasihno Contest System</p>
    </footer>
</div>

<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>

</body>
</html>